.card {
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.card p {
    text-align: center;
}

.card .dragArea {
    height: 150px;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
}

.card .dragArea .visible {
    font-size: 18px;
}

.card .select {
    color: red;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.4s;
}

.card .select:hover {
    opacity: 0.6;
}

.card .container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 10px;
}

.card .container .file {
    width: 75px;
    margin-right: 5px;
    height: 75px;
    position: relative;
    margin-bottom: 8px;

}

.card .container .file video {
    width: 100%;
    height: 100%;
    border-radius: 5px;

}

.card .container .file span {
    position: absolute;
    top: -2px;
    right: 9px;
    font-size: 20px;
    cursor: pointer;
}

.card input,
.card .dragArea .on-drop,
.card .dragArea.dragover .visible {
    display: none;
}

.delete {
    z-index: 999;
    color: red;
}